<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> URL Shortener </title>
</head>
<body>
    <h1>
        URL Shortener
    </h1>

    <p>
        Hey! This is a URL shortener service.
    </p>

    <br>

    <p>
        To shorten a long URL given by the string <i>long_url</i>, go to <i>./encode?url=long_url</i>
    </p>

    <p>
        <b>Example:</b> <i>http://127.0.0.1:7777/encode?url=https://wikipedia.org</i>
    </p>

    <br>

    <p>
        To decode a shortened URL given by the string <i>short_url</i> to its original URL, go to <i>./decode?url=short_url</i>
    </p>

    <p>
        <b>Example:</b> <i>http://127.0.0.1:7777/decode?url=http://127.0.0.1:7777/u1U5N</i>
    </p>

</body>
</html>